.banner-container {
    position: relative;
    overflow: hidden;
    height: 91vh;
    border-radius: 0 0 70px 70px;
    top: 65px;
    animation: fadeInUp 2s ease-in-out;
}

.banner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(1.2);
    transition: transform 1.2s ease-in-out;
}

.banner-container:hover .banner-wrapper {
    transform: scale(1);
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.548) 0%, rgba(0, 0, 0, 0.93) 100%);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transform: scale(1.5);
}

.banner-container:hover .overlay {
    opacity: 0;
}

.banner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 120px;
    opacity: 1;
    animation: zoomIn 2s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.banner-container:hover .banner-logo {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
}

.games-block {
    background-color: #1F232B;
    width: 62.5%;
    height: 376px;
    margin: 0 auto;
    margin-top: 180px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.games-block .title {
    color: rgb(213, 162, 101);
    text-transform: uppercase;
    font-weight: 400;
}

.games-block .description {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}

.games-block a {
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #14171C;
    padding: 10px 30px;
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
    margin-top: 10px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.games-block a:hover {
    color: rgb(213, 162, 101);
    font-size: 16px;
}

.games-block .bg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 30px #0000002c;
}

.games-block .text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.trailers-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 62.5%;
    height: 376px;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.trailers-block .bg {
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0.2;
}

.trailers-block .bg-1 {
    background-image: url('imgs/header_banners/btw_1.png');
}

.trailers-block .bg-2 {
    background-image: url('imgs/header_banners/btw_2.png');
}

.trailers-block .bg-3 {
    background-image: url('imgs/header_banners/btw_3.png');
}

.trailers-block p {
    padding-left: 15%;
}

.trailers-block a {
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #14171C;
    padding: 10px 30px;
    border-radius: 20px;
    margin-left: 15%;
    color: #FFF;
    font-size: 14px;
    margin-top: 100px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.trailers-block a:hover {
    color: rgb(213, 162, 101);
    font-size: 16px;
}

.trailers-block .title {
    position: absolute;
    color: rgb(213, 162, 101);
    margin-bottom: 70px;
    text-transform: uppercase;
    font-weight: 400;
}

.trailers-block .description {
    position: absolute;
    text-shadow: 0 0 30px #000000ae;
    font-weight: 800;
    font-size: 40px;
}




